@tailwind base;
@tailwind components;
@tailwind utilities;

.humberger-line {
    @apply my-[.30rem] w-[30px] h-[3px] block bg-white;
}

.active > span:nth-child(2) {
    @apply w-[18px] transition duration-500 ease-in-out;
}

.active > span:nth-child(3) {
    @apply w-[10px] transition duration-500 ease-in-out;
}

.nama-satu {
    transition: .5s;
}

.nama-satu:hover {
    color: transparent;
    -webkit-text-stroke: .10rem #776B5D;
    letter-spacing: .5rem;
}

.nama {
    transition: .5s;
}

.nama:hover {
    color: transparent;
    -webkit-text-stroke: .20rem #776B5D;
    letter-spacing: .5rem;
}